/*GLOBAL ITENS*/
@import './reset.css';
@import './geral.css';
@import 'variables.css';


/*INSERTION BAR*/
@import './search.css';

.concluido {
    text-decoration: line-through;
}

.displayNone {
    display: none;
}

.buttons-add {
    display: flex;
    justify-content: center;
}

.task-item {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
}

.item {
    position: relative;
}

.item::before {
    content: "";
    position: absolute;
    bottom: -2.5px;
    left: -20px;
    display: block;
    background-color: #ccc;
    width: 5px;
    height: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 1px solid black;
}

.sinalizePriority {
    background-color: black;
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.item.low::before {
    background-color: green;
}

.medium::before {
    background-color: yellow;
}

.high::before {
    background-color: red;
}